{% extends 'base.html.twig' %}

{% block title %}Galerie
{% endblock %}

{% block contenu %}
	<link rel="stylesheet" href="{{ asset('css/gallery.css') }}"/>


	<a href="https://youtu.be/9cYVDKmS7r8" target="_blank" data-keyframers-credit style="color: #FFF"></a>
	<script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>

	<h2>test</h2>

	<div id="app" data-state="gallery">
		<div class="gallery">

			{% for picture in pictures %}

				<figure class="gallery-image">
					<img src="{{ picture.link }}" alt=""/>

					<figcaption>{{ picture.title }}</figcaption>

				</figure>
			{% endfor %}

		</div>
		<div class="detail"></div>
	</div>


{% endblock %}
